@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* margin and padding are included in elements' specified width and height */
}

.summary-container {
  font-family: "Raleway", sans-serif;
  background-color: rgba(81,67,21,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Sedan", serif;
  font-weight: 600;
  font-size: 6em;
  color: white;
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(81,67,21,0.8);
}

.form-container {
  font-family: "Sedan", serif;
  background-color: rgba(81,67,21,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#summary {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 168, 104);
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
  border-radius: 0.4em;
  /*border-style: ridge; */
  width: 70em;
  margin: 1em;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  border: solid darksalmon 5px;
  border-radius: 10px;
  border-style: ridge;
}

.input-box {
  padding: 20px 0px 65px;
  height: 75px;
}

.input-box input {
  height: 100%;
  border: solid darksalmon 5px;
  border-radius: 5px;
  border-style: ridge;
  background-color: whitesmoke;
  padding: 20px;
  font-family: "Sedan", serif;
  font-size: large;
  width: 40em;
}

.input-box input::placeholder {
  font-family: "Sedan", serif;
  font-size: large;
}

.submit-button {
  width: 40em;
  height: 45px;
  background-color: whitesmoke;
  font-family: "Sedan", serif;
  font-size: large;
  border: solid darksalmon 5px;
  border-radius: 5px;
  border-style: ridge;
  cursor: pointer;
  color: #333;
}

.submit-button:hover {
  background-color: lightgray;
}

/* #summary .header {
  font-weight: 700;
} */

#bias-stat {
  margin: 10px 20px;
}

.bias-bar {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 75px;
}

.bias-bar::-webkit-progress-bar {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  padding-left: 50%;
  border: solid lightgrey 5px;
  border-style: ridge;
}

.bias-bar::-webkit-progress-value {
  border-radius: 0px 10px 10px 0px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.25)
  );
}

#bias-stat #republican::-webkit-progress-value {
  background-color: rgb(220, 0, 0);
}

#bias-stat #democrat::-webkit-progress-value {
  background-color: rgb(0, 0, 220);
}

#reliability-stat {
  margin: 10px 20px;
}

.reliability-bar {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 75px;
}

.reliability-bar::-webkit-progress-bar {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border: solid lightgrey 5px;
  border-style: ridge;
}

.reliability-bar::-webkit-progress-value {
  background-color: rgb(0, 0, 220);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.25)
  );
}

.bar-text {
  position: relative;
  bottom: 15px;
}

.bar-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.head-article-list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.head-article {
  background-color: lightseagreen;
  padding: 10px;
  border: solid darkmagenta 5px;
  border-style: ridge;
  border-radius: 10px;
}

.head-article-header {
  display: flex;
  justify-content: space-between;
}

.article-list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.article {
  display: flex;
  justify-content: space-between;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  border: solid darksalmon 5px;
  border-style: ridge;
  border-radius: 10px;
}

/* .article-title {
  font-weight: 700;
} */

.head-summary {
  font-style: italic;
  display: flex;
  text-indent: 20px;
  flex-wrap: wrap;
}

.head-article,
.article {
  margin: 5px 0px;
}
